{% extends 'template.html' %} {% block content %}
<div
    class="text-center"
    style="
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px;
    "
>
    <div
        style="
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 30px;
            width: 50%;
            background-color: rgb(33, 37, 41);
            padding: 100px;
            padding-bottom: 50px;
            padding-top: 50px;
            color: bisque;
        "
    >
        <p style="margin-bottom: 25px; font-size: 30px; font-weight: bold">
            All Keys
        </p>

        {% if keys %}
        <table class="table" id="myTable" style="color: white">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hash</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size (MB)</th>
                    <!-- <th scope="col"></th> -->
                </tr>
            </thead>
            <tbody>
                {% for key in keys %}
                <tr>
                    <th scope="row"></th>
                    <th scope="row">{{ key[0] }}</td>
                    <th scope="row">{{ key[1] }}</td>
                    <th scope="row">{{ key[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p style="font-size: larger; font-weight: bold; color: red">
            No keys found!
        </p>
        {% endif %}

        <a href="/cache/keys" style="font-size: small" class="badge badge-info"
            >Cache keys?</a
        >
    </div>
</div>

<script>
    const table = document.getElementById("myTable");

    for (var i = 1, row; (row = table.rows[i]); i++) {
        row.cells[0].innerHTML = i;
    }
</script>
{% endblock %}
